@model IEnumerable<MVC作業.Models.客戶清單>

@{
    ViewBag.Title = "Index";
}

<h2>客戶清單</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@using (Html.BeginForm())
{
    <input type="search" name="search" value="" accesskey="s" placeholder="請輸入關鍵字 (Alt+S)" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span> 搜尋
    </button>
}

<br />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.客戶名稱, "Details", "客戶資料", new { id = item.客戶編號 }, null)
                @*@Html.DisplayFor(modelItem => item.客戶名稱)*@
            </td>
            <td>
                @Html.ActionLink(item.聯絡人數量.ToString(), "聯絡人清單", "客戶聯絡人", new { id = item.客戶編號 }, null)
                @*@Html.DisplayFor(modelItem => item.聯絡人數量)*@
            </td>
            <td>
                @Html.ActionLink(item.銀行帳戶數量.ToString(), "帳戶清單", "客戶銀行資訊", new { id = item.客戶編號 }, null)
                @*@Html.DisplayFor(modelItem => item.銀行帳戶數量)*@
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
